.abc {
  padding-top: 5;
}

.css-button-rounded--sky {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #7a04dd;
  background: #7a04dd;
  
}
.css-button-rounded--sky:hover {
  background: #fff;
  color: #7a04dd;
}

.form-background {
  background: #004054;
}

.logo-text-color {
  color: #06BBCC;
}

.form-inputbox-bgcolor {
  background: rgba(255,255,255,.5)!important;
}

.form-submit-button {
  /* min-width: 130px; */
  /* height: 40px; */
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #06BBCC;
  background: #06BBCC;
}
.form-submit-button:hover {
  background: #fff;
  color: #06BBCC;
}

.bullet {
  list-style-type: "\1F44D";
  /* font-size: 1.125rem; */
  /* line-height: 1.75rem; */
}
.text-style {
  /* text-align: justify; */
  font-size: 1.313rem;
  line-height: 2rem;
  font-weight: 400;

}

.text-color {
  color: #06BBCC;
}

.background {
  background-color: #06BBCC;
}

.card1-bg {
  background: #0d6efd;
  color: brown;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}
.textShadow {
  text-shadow: 5px 5px 20px #000000;
}
.headerColor {
  background: #595959;
}

/********** Template CSS **********/
:root {
  --primary: #06BBCC;
  --light: #F0FBFC;
  --dark: #181d38;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;

}


/*** Button ***/
.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  /* content: "\f107"; */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #06BBCC;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link  {
      margin-right: 0;
      padding: 10px 0;
  }

  .navbar-light .navbar-nav {
      border-top: 1px solid #EEEEEE;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: .5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
      display: block;
      margin-top: 0;
      opacity: 0;
      visibility: hidden;
      transition: .5s;
  }

  .navbar .dropdown-menu.fade-down {
      top: 100%;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
  }

  .navbar .nav-item:hover .dropdown-menu {
      top: 100%;
      transform: rotateX(0deg);
      visibility: visible;
      transition: .5s;
      opacity: 1;
  }
}


/*** Header carousel ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
      position: relative;
      min-height: 500px;
  }
  
  .header-carousel .owl-carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  font-size: 22px;
  transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(/carousel/contact.jpg); /* /about-us/banner3.jpg  /carousel/contact14.jpg*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 70px !important; */
}

.page-header-inner {
  background: #181d38;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}


/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}


/*** Service ***/
.service-item {
  background: var(--light);
  transition: .5s;
}

.service-item:hover {
  margin-top: -10px;
  background: var(--primary);
}

.service-item * {
  transition: .5s;
}

.service-item:hover * {
  color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
  transition: .5s;
}

.category a:hover img,
.course-item:hover img {
  transform: scale(1.1);
}


/*** Team ***/
.team-item img {
  transition: .5s;
}

.team-item:hover img {
  transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 300px;
  }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
  color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}


/*** Footer ***/
.footer-background-color {
  background: #181d38 !important;;
}
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  /* content: "\f105"; */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}


/* home.css */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  /* background: #06BBCC; */
  /* background: #004054; */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.CarouselStyle {
  height: 600px;
  margin-top: 60px !important;
  background: #004054;
}

/* .CarouselStyle p {
  text-align: justify;
  font-size: 1.25rem;
} */

.CarouselStyle h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  letter-spacing: -0.75px;
  line-height: 1.3;
  font-size: 1.875rem;
}

/* .carouselItem { */
  /* height: 100%; */
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center; */
/* } */

/* .carouselImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
} */

/* .about-heading {
  color: #a80505;
} */

.about-page-text {
  color: #6c757d !important;
}

.about-container {
  margin-top: 75px !important;
  text-align: justify;
  padding: 20px;
  color: #4e4e4e;
}

.about-container h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  margin-top: 20px;
    margin-bottom: 10px;
}

.about-container h1 {
  color: #000000;
  font-size: 26px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  margin: .67em 0;
}

.about-container p {
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 10px;

}

.strong-style {
  font-weight: bold;
  /* line-height: 20px; */
}

.homepage-textstyle {
  padding-top: 100px;
  padding-bottom: 60px;
}

.homepage-textstyle-col {
  /* padding-right: 100px; */
}

.homepage-textstyle p {
  /* font-size: 1.313rem;
        line-height: 2rem;
        text-align: justify;
        font-size: 1.25rem; */

        padding-top: 100px;
        padding-bottom: 60px;
        
}




.moduleContainer {
  padding-top: 100px;
  padding-bottom: 60px;
}

.moduleContainer p {
  /* text-align: justify; */
  font-size: 1.25rem;
  color: #2f353e;
}

.moduleContainer ul li {
  /* text-align: justify; */
  font-size: 1.25rem;
  color: #2f353e;
}

.moduleContainer h4 {
  color: #2f353e;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    letter-spacing: -0.75px;
    line-height: 1.3;
    font-size: 1.875rem;
}


.image {
  max-width: 100%;
  height: auto;
}

